/*! 版权所有，翻版必究 */
/* greeter.css */

.root {
    background-color: #eee;
    padding: 10px;
    border: 3px solid #ccc;
}.flip-list-move {
    transition: transform 1s;
}

.list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
  }
  .list-complete-enter, .list-complete-leave-to
  /* .list-complete-leave-active for below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  .list-complete-leave-active {
    position: absolute;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 232px;
    margin-top: 10px;
  }
  .cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .cell:nth-child(3n) {
    margin-right: 0px;
  }
  .cell:nth-child(27n) {
    margin-bottom: 0px;
  }
  .cell-move {
    transition: transform 1s;
  }/* main.css */

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-position: inside;
}

.demo {
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(198, 198, 198) ;
}